@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <li class="nav-item">
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "navbar-brand" })
    </li>
    <li class="nav-item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
        @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="navbar-brand">Log off</a>
        }
    </li>
}
else
{
<li class="nav-item">
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "navbar-brand" })
</li>
}
